<h1><%= @machine.location %> Vending Machine</h1>
<h3>Snacks</h3>
<ul>
  <% @machine.snacks.each do |snack| %>
    <li id="snack-<%= snack.id %>">
      <%= "#{snack.name}: $#{snack.price}" %>
    </li>
  <% end %>
</ul>
<h3 id="avg_price"> Average Price: $<%= @machine.avg_price %></h3>